* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0 !important;
}

p {
  margin: 0;
}

nav {
  width: 100%;
  background-color: #0a1733;
  display: flex;
  justify-content: center;
  align-items: middle;
  position: fixed;
  top: 0;
  z-index: 10000;
}

nav a.middleAlign {
  padding: 18px 0 0 0;
}

nav a {
  width: 20%;
  text-align: center;
  color: #f7f4f2;
  font-weight: bold;
  vertical-align: middle;
}

nav a img {
  padding: 5px 0 2.5px 0;
}

nav a.notLogo:hover {
  background-color: #182135;
}

nav a.notLogo:visited {
  border-bottom: 10px solid #f7f4f2;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 85%;
  margin: 0 auto;
}

#coverImage {
  width: 100%;
  height: 576px;
  background-image: url("@/assets/img/Home_Hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentHeroText {
  color: #f7f4f2;
  font-weight: bold;
  font-size: 24pt;
}

.concertCardContainer {
  width: 100%;
  display: flex;
  gap: 25px;
}

.concertCard {
  border-radius: 20px 20px 0 0;
  width: 300px;
  height: 450px;
  cursor: pointer;
}

.concertCardImage {
  width: 100%;
  height: 50%;
  border-radius: inherit;
  background-image: url("@/assets/img/disturbed.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.concertCardText {
  width: 100%;
  height: 50%;
  background-color: #f7f4f2;
  line-height: 55px;
}

.concertCardText p {
  padding: 0 10px 0 10px;
}

.concertCardTextTitle {
  font-size: 16pt;
  font-weight: bold;
}

.paddingRightCardIcon {
  padding-right: 10px;
}

.sameLine {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.topFavoriteArtistsSection {
  background-color: #112455;
  color: #f7f4f2;
  margin: 35px 0 0 0;
  padding: 15px 0 50px 0;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 500;
}

.artistsCardsContainer {
  width: 100%;
  display: flex;
  gap: 10px;
}

.artistCard {
  width: 205px;
  height: 200px;
  border-radius: 10px;
  background-image: url("@/assets/img/disturbed.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  cursor: pointer;
}

.gradientBackground {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  z-index: 2;
  background: linear-gradient(
    0deg,
    rgba(1, 0, 13, 0.95) 25%,
    rgba(250, 250, 250, 0.1) 100%
  );
}

.artistCardTitle {
  position: relative;
  top: 160px;
  text-align: center;
  font-size: 16pt;
  letter-spacing: 1.5px;
}

.newsletterCover {
  width: 100%;
  height: 576px;
  background-image: url("@/assets/img/Newsletter.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletterTextButton {
  width: 60%;
  position: relative;
  top: 200px;
  left: 300px;
}

.newsletterInputField {
  width: 570px;
  height: 50px;
  border: 1px solid #0a1733;
  padding-left: 5px;
}

.newsletterButton {
  width: 90px;
  height: 53px;
  border: none;
  background-color: #0a1733;
  color: #f7f4f2;
  font-weight: 500;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 350px;
  background-color: #182135;
}

.footerContent {
  display: flex;
  color: #f7f4f2;
  gap: 100px;
  padding-top: 20px;
}

.footerContact {
  line-height: 35px;
  width: 33%;
}

.footerSocialMediaLogo {
  width: 33%;
  text-align: center;
}

.socialMediaIconsSize {
  font-size: 30px;
  margin: 30px 15px;
  cursor: pointer;
}

.footerLogo {
  text-align: center;
}

.logoText {
  margin-top: 15px;
  font-size: 16pt;
}

.footerCopyright {
  text-align: center;
  color: #f7f4f2;
  font-size: 8pt;
  position: relative;
  top: 65px;
}

.footerSitemap {
  line-height: 35px;
  text-align: right;
  width: 33%;
}

.footerSitemap a {
  color: #f7f4f2;
}

.loginForm {
  width: 60%;
}

.loginPicture {
  width: 40%;
  height: 650px;
  background-image: url("@/assets/img/LoginImage.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.loginPage {
  display: flex;
}

.logoImage {
  text-align: center;
  margin-top: 20px;
}

.wrapperLoginRegister {
  margin: 0 auto;
  width: 50%;
}

.formInputStyle {
  border: 1px solid #182135;
  border-radius: 5px;
  width: 350px;
  margin: 5px 0 5px 0;
  padding: 15px 10px;
  font-size: 11pt;
}

.registerButtonStyle {
  background-color: #0a1733;
  color: #f7f4f2;
  width: 120px;
  font-size: 11pt;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.loginButtonStyle {
  background-color: #0a1733;
  color: #f7f4f2;
  width: 80px;
  font-size: 11pt;
  border-radius: 5px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  position: relative;
  left: 170px;
}
.loginButtonStyleRegister {
  background-color: #0a1733;
  color: #f7f4f2;
  width: 80px;
  font-size: 11pt;
  border-radius: 5px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.registerButtonStyleRegister {
  background-color: #0a1733;
  color: #f7f4f2;
  width: 120px;
  font-size: 11pt;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  position: relative;
  left: 170px;
}

.buttonsForm {
  margin-top: 50px;
}

.forgotForm {
  font-size: 9pt;
  opacity: 0.5;
  padding-left: 10px;
  cursor: pointer;
}

.aboveRegisterText {
  font-size: 10pt;
  margin-bottom: 10px;
}

.aboveInputText {
  font-size: 12pt;
  padding-left: 10px;
  color: #0a1733;
}

.paddingIconForm {
  padding-right: 5px;
}

.marginTop {
  margin-top: 80px;
}

.listOfConcerts {
  width: inherit;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.odd {
  background: #112455;
  color: #f7f4f2;
  margin-bottom: 10px;
}

.odd.left {
  margin-right: 5px;
}

.odd.right {
  margin-left: 5px;
}

.even {
  background: #F7F4F2;
  margin-bottom: 10px;
}

.even.left {
  margin-right: 5px;
}

.even.right {
  margin-left: 5px;
}
